
<div class="Subject show">
    <table>
        <tr><th>Name:</th>
            <td><%=@user.name%></td>
        </tr>
        
        <tr><th>Email:</th>
            <td><%=@user.email%></td>
        </tr>
        <tr><th>Password:</th>
            <td><%=@user.password%></td>
        </tr>

    </table>
</div>